
body{
  background: linear-gradient(180deg, rgba(201,107,246,1) 0%, rgba(255,72,72,1) 100%);
}

body.hard{
  background: linear-gradient(180deg, #441f55 0%, #b0228f 100%);
}


.logo{
  width: 80%;
  margin:10% 10%;
  transform: translateX(-50%);
  transform-origin: center center;
  animation: logo 2s ease-in-out infinite;
}
.octopus{
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
 }
 
 .relative{
  position: relative;
 }
 
 .head{
  z-index: 3;
  bottom: 0;
  position: absolute;
  width: 100%;
  max-width: 600px;
  transform: translateX(-50%);
  left: 50%;
  height: unset;
 }


 .swing {
   animation: swing 2s ease-in-out infinite;
   transform-origin: bottom center;
   cursor: pointer;
   height: 70vh;
 }
 
 .tent1{
  position: absolute;
  bottom: 0px;
  left:0px;
 }

 .tent2{
  position: absolute;
  bottom: -350px;
  left: -100px;
  z-index: 2;
 }

 .tent3{
  position: absolute;
  bottom: -10px;
  right: 0;
 }

 .tent4{
  position: absolute;
  bottom: -350px;
  right: 0;
  z-index: 1;
 }
 
 @keyframes swing {
   0% {
       transform: rotate(-5deg);
   }
   50% {
       transform: rotate(5deg); /* Adjust the angle as desired */
   }
   100% {
       transform: rotate(-5deg); /* Adjust the angle as desired */
   }
 }

 @keyframes logo {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1); /* Adjust the angle as desired */
  }
  100% {
      transform: scale(1); /* Adjust the angle as desired */
  }
}



.disap{
  opacity: 10%;
  pointer-events: none;
}




.simon-game {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.quadrant {
  width: 150px;
  height: 150px;
  cursor: pointer;
  border-radius: 50%;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.controls {
  margin-top: 20px;
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.quadrant.active {
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.9);
}






#game-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.hard #game-container{
  background-repeat: repeat;
  background: url("hard/pattern.svg");
  background-size: 75px;
}

.mole {
  width: 50px;
  height: 50px;
  background-color: #b0228f;
  border-radius: 50%;
  position: absolute;
  display: none;
}

.bomb {
  width: 50px;
  height: 50px;
  background-color: #441f55;
  border-radius: 50%;
  position: absolute;
  display: none;
}

.infos{
  display: flex;
  justify-content: space-around;
  background-color:#333;
  color: white;
  align-items: center;
  padding: 10px;
}

p{
  margin:0;
}


#word {
  font-size: 50px;
  margin-top: 20px;
}

#letters {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}







.game-container {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-gap: 10px;
}

.card {
  width: 50px;
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  cursor: pointer;
  border: 2px solid #333;
  user-select: none; /* Prevent text selection */
  position: relative;
}

.symbol {
  display: none; /* Hide the symbol by default */
}

.card.flipped .symbol {
  display: inline; /* Show the symbol when the card is flipped */
}

.matched {
  background-color: #4caf50;
  pointer-events: none;
}





.music-container {
  position: relative;
  width: 300px;
  height: 500px;
  background-color: #333;
  overflow: hidden;
}

.line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: white;
  opacity: 0.5;
}

#line1 { top: 200px; }
#line2 { top: 300px; }
#line3 { top: 400px; }

.circle {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #ff5722;
  border-radius: 50%;
  transition: top 1s linear;
  cursor: pointer;
}

.score {
  color: white;
  font-size: 24px;
  margin-top: 20px;
}


.choice{
  text-align: center;
  font-size: large;
  font-weight: bold;
  color: white;
}

@media only screen and (max-width: 600px) {

  .tent1{
    position: absolute;
    bottom: -100px;
    left:0px;
   }
  
   .tent2{
    position: absolute;
    bottom: 0;
    left: -100px;
    z-index: 2;
   }
  
   .tent3{
    position: absolute;
    bottom: 0px;
    right: 0;
   }
  
   .tent4{
    position: absolute;
    bottom: -100px;
    right: 0;
    z-index: 1;
   }
}


.reward{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reward .box{
  width:  120px;
  height: 120px;
  text-align: center;
  margin: 10px;
  background: white;
  padding: 10px;
  border-radius: 10px;
}

.reward .box img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}